{% extends 'layouts/base.html'%} {%load static%}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Django Poll App{%endblock%} </title>
        {%block customcss%} {%endblock%}
    </head>

    <body>
        {%block navbar %}
        <nav class="navbar navbar-expand-lg  " style="background-color:#303030;">
            <button class="navbar-toggler btn" type="button" data-toggle="collapse" data-target="#navbar">
            <i class="fa fa-bars"></i>
        </button>
            <div class="collapse navbar-collapse" id="navbar">
                <li class="navbar-nav mr-auto mt-2 mt-lg-0">
                    {%if user.is_authenticated %}
                    <i class=" my-1 mx-4 fas fa-user-circle" style="color: #fff; height:30px;"> {{user.username.upper}}</i>

                    <a href="/logout" class="mx-4">Logout</a>
                    <a href="/polls" id="nav" class="nav-item mx-4">
                        
                        Polls
            
                </a>
                    <div class=" mr-auto float-right">
                        <a href="/mine">My polls</a>

                    </div> {%endif%}



                </li>
            </div>

        </nav>
        {%endblock%} {%block content%}

        <section>
            <div class="container">
                <div class="row justify-content-center my-4 ">
                    <h3>Congratulations! Your POll is successfully created check it out</h3><a class="my-2 mx-2 text-info " href="/{{last.id}}">  Here<i class=" mx-1 fas fa-arrow-right"></i></a>

                </div>


            </div>
        </section>

        <script>
            if (window.history.replaceState) {
                window.history.replaceState(null, null, window.location.href);
            }
        </script>
        {% endblock%}

    </body>

</html>