{% extends 'layouts/base.html' %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}404 | Not found{%endblock%}</title>
    </head>

    <body>
        {% block content %}
        <div class="container">
            <div class="row justify-content-center">
                <div class="div my-4">
                    <h1 class="text-danger">{{msg}}</h1>
                </div>
            </div>
        </div>


        {%endblock%}
    </body>

</html>